.row
  %section.col-md-12{id: 'messages'}
    = render 'endorsements/form/messages'

.row
  %section.col-md-12{id: 'endorsement_form'}
    = render 'endorsements/form/content/forms'

.row
  %section.col-md-12{id: 'endorsement_list'}
    = render 'endorsements/form/content/list'
