.row
  %section.col-md-12{id: 'messages'}
    = render 'endorsements/messages'

.row
  %section.col-md-12{id: 'endorsement_form'}
    = render 'endorsements/endorsement_form'

.row
  %section.col-md-12{id: 'endorsement_list'}
    = render 'endorsements/endorsement_list'
