%section.container{id: 'endorsement'}
  .row
    %section.col-md-9{id: 'content'}
      = render 'endorsements/form/content'
      
    %section.col-md-3{id: 'sidebar'}
      = render 'endorsements/form/sidebar'
