%section.container{id: 'manifesto'}
  .row
    %section.col-md-9{id: 'content'}
      = render 'endorsements/manifesto_content'
      
    %section.col-md-3{id: 'sidebar'}
      = render 'endorsements/manifesto_sidebar'
