%h2 ¡LAS MUJERES MOVEMOS EL MUNDO! ¡AHORA LO PARAMOS!

%h3 JORNADA DE LUCHA EL 22 DE OCTUBRE PARA GRITAR BIEN ALTO QUE:

%p Defendemos la autonomía de nuestros cuerpos: sexualidades libremente ejercidas; pleno acceso a la información ya la educación afectivo-sexual; ABORTO LIBRE, GRATUITO Y COGESTIONADO POR LAS MUJERES, las trabajadoras de la salud y el movimiento feminista; maternidades escogidas y acceso universal a técnicas de reproducción asistida.
%p Exigimos el fin de la violencia ginecológica y obstétrica.
%p Reivindicamos el reconocimiento de las DIFERENTES IDENTIDADES DE GÉNERO, la libertad de opción sexual y los diferentes tipos de familias y unidades de convivencia.
%p Combatimos todas las VIOLENCIAS MACHISTAS para acabar con los feminicidios y todo tipo de agresiones contra las mujeres y apostamos por la autodefensa feminista.
%p Una VIDA Y una MUERTE DIGNAS: reconociendo nuestra dependencia mutua, nuestras diversidades funcionales y garantizando los derechos y el bienestar tanto de quién es cuidada como de quien tiene cuidado de otros.
%p Queremos una vida digna para todos los seres vivos, libre de especismo y de tortura hacia los animales y la preservación de la naturaleza y el medio ambiente.
%p Defendemos los SERVICIOS PÚBLICOS (educación, sanidad y servicios sociales) y los bienes comunes autogestionados (recursos naturales, comunitarios y territorio), de acceso universal, gratuito y de calidad. Exigimos EL FIN DE LAS PRIVATIZACIONES Y RECORTES.
%p Queremos un acceso garantizado y efectivo a la VIVIENDA DIGNA.
%p Nos posicionamos contra el sistema especulativo y capitalista. Apostamos por una ECONOMÍA FEMINISTA SOCIAL Y SOLIDARIA, que ponga en el centro la vida de las personas.
%p Nos negamos a pagar la DEUDA.
%p Queremos el reparto de la riqueza y de todos los trabajos – reproductivos y productivos –, así como su reconocimiento social, laboral y económico, también de aquellos tradicionalmente feminizados o insertados en la economía considerada informal. Exigimos la retirada de todas las LEYES Y REFORMAS LABORALES que promueven y perpetúan las desigualdades y la precariedad. Luchamos por unas condiciones de trabajo dignas.
%p Exigimos el fin de la DISCRIMINACIÓN LABORAL por razón de etnia, género, clase, edad, capacidades y sexualidad: contra la segregación vertical y sectorial y el acoso en el trabajo, a favor de la igualdad salarial y de las medidas que contribuyan a la corresponsabilidad de mujeres y hombres en el ejercicio de los cuidados.
%p Defendemos el derecho a la libre circulación y permanencia de las personas. Queremos que todas las personas tengan acceso universal a los servicios públicos ya la plena participación comunitaria y política. NINGUNA PERSONA ES ILEGAL, exigimos el cierre de los CIE.
%p Queremos una vida libre de represión y defendemos la LIBERTAD DE ACCIÓN Y MANIFESTACIÓN. Exigimos la retirada de la ley Mordaza, la reforma del código penal, de la actual ley del aborto y de todas las normativas y disposiciones punitivas que restringen nuestras libertades y el uso del espacio público, como la ordenanza del civismo.
%p Nos plantamos contra el fraude fiscal, la corrupción política y económica y la impunidad policial.
%p Para todo esto y mucho más las abajo firmantes convocamos jornada de lucha el 22 de octubre. Ocuparemos las plazas y las calles, cerraremos los mercados y las tiendas, bloquearemos el transporte… ¡detendremos el mundo!

%h3 @VAGADETOTES  –  #HUELGADETODAS  –  #VAGADETOTES