%h2 WOMEN, WE MOVE THE WORLD, NOW WE WILL STOP IT!

%h3 October 22nd, action day to shout out that:

%p We defend the autonomy of our bodies: free exercise of our sexuality; full access to information of affective and sexual education; FREE ABORTION COLLECTIVELY HANDLED BY WOMEN, health workers and the feminist movement; chosen motherhood and universal access to assisted reproduction techniques.
%p We demand an end to violence and obstetric gynecology.
%p We demand the recognition of DIFFERENT GENDER IDENTITIES, freedom of sexual choice and the different types of families and coexistence units.
%p We combat all types of PATRIARCHAL VIOLENCE to end femicide and the attacks against women, and we commit to feminist self-defense.
%p A LIFE AND a DIGNIFIED DEATH: recognizing our interdependence, our functional diversity and ensuring the rights and well being of those who are taken care of, as of those who care for others.
%p We want a decent life for all living beings, free of speciesism and torture to animals, and the preservation of nature and environment.
%p We defend universally accessible, free and of good quality PUBLIC SERVICES (education, health and social services) and self-managed common goods (land and social and natural resources). We demand THE END OF PRIVATIZATION AND BUDGET CUTS.
%p We want an effective and guaranteed access to DECENT HOUSING.
%p We position ourselves against the capitalist and speculative system. We believe in a FEMINIST AND SOCIAL ECONOMY, centered in people's lives.
%p We refuse to pay the DEBT.
%p We want the distribution of wealth and all the work – reproductive and productive – as well as its social recognition, including those jobs traditionally feminised or inserted into the so called “informal economy “. We demand the withdrawal of all LAWS AND LABOUR REFORMS that promote and perpetuate inequality and insecurity. We fight for decent working conditions.
%p We demand an end to JOB DISCRIMINATION because of race, gender, class, age, abilities and sexuality: sectorial and vertical segregation and harassment at work, in favor of equal pay and measures to contribute to the women and men co-responsibility in the exercise of care.
%p We defend the right to free movement and residence of people. We want all people to have universal access to public services and full community participation and politics. NO PERSON IS ILLEGAL, we demand the closure of the CIES (spanish immigrant detention centers).
%p We want a life free of repression and we defend FREEDOM OF ACTION AND DEMONSTRATION. We demand the withdrawal of the Mordaza law, the reform of the penal code, the current abortion law and all regulations and punitive provisions that restrict our freedoms and the use of public space, such as ordinance of civility.
%p We stand against tax fraud, economic and political corruption and police impunity.
%p For all this and much more, the undersigned call for a action day on October the 22nd. Occupied squares and streets, closed markets and shops… stop the world!

%h3 STRIKE OF ALL  –  #VAGADETOTES  –  @VAGADETOTES