%h2 LES DONES MOVEM EL MÓN. ARA L'ATURAREM!

%h3 EL 22 D'OCTUBRE JORNADA DE LLUITA CAP A LA VAGA GENERAL PER CRIDAR BEN ALT QUE:

%p Defensem l'autonomia dels nostres cossos: sexualitats lliurement exercides; ple accés a la informació i a l'educació afectivo-sexual; AVORTAMENT LLIURE, GRATUÏT I COGESTIONAT PER LES DONES, les treballadores de la salut i el moviment feminista; maternitats escollides i accés universal a tècniques de reproducció assistida.
%p Exigim la fi de la violència ginecològica i obstètrica.
%p Reivindiquem el reconeixement de les DIFERENTS IDENTITATS DE GÈNERE, de la llibertat d'opció sexual i dels diferents tipus de famílies i unitats de convivència.
%p Combatem totes les VIOLÈNCIES MASCLISTES per acabar amb els feminicidis i tot tipus d'agressions contra les dones i apostem per l'autodefensa feminista.
%p Una VIDA I una MORT DIGNES: reconeixent la nostra dependència mútua, les nostres diversitats funcionals i garantint els drets i el benestar tant de qui és cuidada com de qui té cura d'altres.
%p Volem una vida digna per tots els éssers vius, lliure d'especisme i de tortura envers els animals i la preservació de la natura i el medi ambient.
%p Defensem els SERVEIS PÚBLICS (educació, sanitat i serveis socials) i els béns comuns autogestionats (recursos naturals i territori), d'accés universal, gratuït i de qualitat. Exigim L'ATURADA DE PRIVATITZACIONS I RETALLADES.
%p Volem un accés garantit i efectiu a l'HABITATGE DIGNE.
%p Ens posicionem contra el sistema especulatiu i capitalista. Apostem per una ECONOMIA FEMINISTA SOCIAL I SOLIDÀRIA, que posi al centre la vida de les persones.
%p Ens neguem a pagar el DEUTE.
%p Volem el repartiment de la riquesa i de tots els treballs – reproductius i productius – així com el seu reconeixement social, laboral i econòmic, també d'aquells tradicionalment feminitzats o inserits en l'economia considerada informal. Exigim la retirada de totes les LLEIS I REFORMES LABORALS que promouen i perpetuen les desigualtats i la precarietat. Lluitem per unes condicions de treball dignes.
%p Exigim la fi de la DISCRIMINACIÓ LABORAL per raó d'ètnia, gènere, classe, edat i sexualitat: contra la segregació vertical i sectorial i l'assetjament a la feina, a favor de la igualtat salarial i de les mesures que contribueixin a la corresponsabilitat de dones i homes en l'exercici de les cures.
%p Defensem el dret a la lliure circulació i permanència de les persones. Volem que totes les persones tinguin accés universal als serveis públics i a la plena participació comunitària i política. CAP PERSONA ÉS IL·LEGAL, exigim el tancament dels CIEs.
%p Volem una vida lliure de repressió i defensem la LLIBERTAT D’ACCIÓ I MANIFESTACIÓ. Exigim la retirada de la llei Mordaza, de la reforma del codi penal, de l'actual llei de l'avortament i de totes les normatives i disposicions punitives que restringeixen les nostres llibertats i l'ús de l'espai públic, com ara l'ordenança del civisme.
%p Ens plantem contra el frau fiscal, la corrupció política i econòmica i la impunitat policial.
%p Per a tot això i molt més les sota signants convoquem el 22 d’octubre a una jornada de lluita cap a la vaga general en primavera. Ocuparem les places i els carrers, tancarem els mercats i les botigues, aturarem el transport&#8230; aturarem el món!

%h3 @VAGADETOTES  &#8211;  #VAGADETOTES  &#8211;  #FEMCORRERLAVAGA