// Place all the styles related to the endorsements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Application layout
body {
  font-family: 'Open-Sans', $font-family-base;  
}

.banner {
  img {
    display: block !important;
    margin: auto !important;
  }
}

.ribbon {
  height: 55px;
  margin-bottom: 20px;
  background-color: #CCCCCC;
  text-align: center;
  h1 {
    font-size: 35px !important;
    color: #663399 !important;
    margin-top: 10px !important;
  }
}

.footer_ribbon {
  height: 65px;
  margin-top: 25px;
  background-color: #CCCCCC;
  text-align: center;
  h1 {
    font-size: 35px !important;
    color: #663399 !important;
    margin-top: 10px !important;
  }
}

#content {
  h2 {
    font-size: 22px !important;
    line-height: 36px !important;
  }
  h3, p {
    font-size: 14px !important;
    line-height: 18px !important;
  }
  h3 {
    font-weight: bold !important;
  }
}

#goto_endorsement, #goto_manifesto {
  margin-top: 20px;
  a {
    text-decoration: none !important;
    img {
      display: block !important;
      margin: auto !important;
    }
  }
}

#counter {
  margin-top: 25px;
  text-align: center;
  span.number {
    display: block !important;
    font-family: 'Arial Black' !important;
    font-size: 49px !important;
  }
  span.subtext {
    display: block !important;
    margin-top: -10px !important;
    font-size: 17px !important;
  }
}

#twitter_feed {
  margin-top: 70px;
  text-align: center;
  span.feed_header {
    display: block !important;
    font-size: 17px !important;
  }
}

#endorsement_form, #endorsement_list {
  header {
    margin: 20px auto;
    h1 {
      font-size: 24px;
      color: #663399;
      margin: 0;
    }
  }
}

#endorsement_form {
  .panel {
    padding: 25px;
    background-color: #cc99ff;
    border-radius: 40px;
  }
}

#endorsement_list {
  .pagination {
    margin-top: 0 !important;
  }
}

.simple_form {
  .endorsement_doctype, .endorsement_birthdate {
    select {
      width: 125px !important;
    }
  }
  .endorsement_docid, .endorsement_postal_code {
    input {
      width: 125px !important;
    }
  }
  input[type='image'] {
    display: block !important;
    margin: auto !important;
  }
}
