// Place all the styles related to the endorsements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Application layout
body {
  font-family: 'Open-Sans', $font-family-base;  
}

a, a:hover {
  text-decoration: none !important;
}

.navbar-default {
  background-image: none !important;
  box-shadow: none !important;
}

.navbar-nav .active a {
  background-image: none !important;
  box-shadow: none !important;
  text-shadow: none !important;
}

.navbar-header {
  ul {
    float: left;
    list-style: none;
    margin: 5px 0 0 10px;
    padding: 0;
    li {
      display: inline-block;
      a.social-wp:hover { color: #21759b; }
      a.social-fb:hover { color: #3b5999; }
      a.social-tw:hover { color: #55acee; }
    }
  }
}
@media only screen and (min-width: $screen-sm-min) {
  .navbar-header ul {
    margin: 5px 0 0;
  }
}

.banner {
  display: block !important;
  margin: auto !important;
}

.ribbon {
  height: 55px;
  margin-bottom: 20px;
  background-color: #CCCCCC;
  text-align: center;
  p {
    height: 100%;
    padding-top: 15px;
    color: #663399 !important;
    font-size: $font-size-base * 1.5 !important;
  }
}
@media only screen and (min-width: $screen-sm-min) {
  .ribbon p {
    padding: 0;
    font-size: $font-size-base * 2.5 !important;
  }
}

.footer_ribbon {
  height: 65px;
  margin-top: 25px;
  background-color: #CCCCCC;
  text-align: center;
  a {
    display: block;
    padding-top: 20px;
    color: #663399 !important;
    font-size: $font-size-base * 1.5 !important;
  }
}
@media only screen and (min-width: $screen-sm-min) {
  .footer_ribbon a {
    margin-top: 5px;
    padding: 5px;
    font-size: $font-size-base * 2.5 !important;
  }
}

// Content
#content {
  h2 {
    font-size: $font-size-base * 1.3 !important;
    line-height: ($font-size-base * 1.3) * $line-height-base !important;
  }
  h3, p {
    font-size: 14px !important;
    line-height: 18px !important;
  }
  h3 {
    font-weight: bold !important;
  }
}
@media only screen and (min-width: $screen-sm-min) {
  #content h2 {
    font-size: 22px !important;
    line-height: 36px !important;
  }
}

// Sidebar
#goto_endorsement, #goto_manifesto {
  margin-top: 20px;
  a {
    text-decoration: none !important;
    img {
      display: block !important;
      margin: auto !important;
    }
  }
}

#counter {
  margin-top: 20px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif !important;
  span.number {
    display: block !important;
    font-weight: 700;
    font-size: $font-size-base * 3 !important;
  }
  span.subtext {
    display: block !important;
    margin-top: -10px !important;
    font-weight: 400;
    font-size: $font-size-base * 1.5 !important;
  }
}
@media only screen and (min-width: 480px) {
  #counter {
    span.number {
      font-size: $font-size-base * 5 !important;
    }
    span.subtext {
      font-size: $font-size-base * 2 !important;
    }
  }
}

#twitter_feed {
  margin-top: 40px;
  span.feed_header {
    display: block !important;
    font-size: 17px !important;
    font-weight: 700;
  }
  .twitter-timeline {
    height: 470px;
    width: 100% !important;
    text-align: center;
  }
}
@media only screen and (min-width: $screen-sm-min) {
  #twitter_feed {
    margin-top: 65px;
  }
}

// Endorsement Form
#endorsement_form, #endorsement_list {
  header {
    margin: 20px auto;
    h1 {
      font-size: 24px;
      color: #663399;
      margin: 0;
    }
  }
}

#endorsement_form {
  .tab-content {
    margin-top: 10px;
  }
  .panel {
    padding: 25px;
    background-color: #cc99ff;
    border-radius: 40px;
  }
}

#endorsement_list {
  .pagination {
    margin-top: 0 !important;
    @extend .pull-right;
  }
}

.simple_form {
  .endorsement_doctype, .endorsement_birthdate {
    select {
      width: 125px !important;
    }
  }
  .endorsement_docid, .endorsement_postal_code {
    input {
      width: 125px !important;
    }
  }
  input[type='image'] {
    display: block !important;
    margin: auto !important;
  }
}
