.container
  .row
    .col-md-10.col-md-offset-1.banner
      %img{src: "#{asset_path('vagadetotes_banner.png')}", alt: 'vagadetotes_banner'}

  .row
    .col-md-12.ribbon
      %h1 Manifest de la #vagadetotes
